@import '../index.css';

.header {
  width: 100%;
  height: 80px;
  line-height: 80px;
}

.logo {
  text-align: center;
}

.logo img {
  width: calc(100% - 60%);
  object-fit: contain;
}

.logo h5 {
  font-weight: 600;
  font-size: 1rem;
  color: var(--primary-color);
  margin-top: -10px;
  margin-bottom: 0;
}

.menu a {
  font-weight: 600;
  font-size: 1rem;
  color: var(--primary-color);
  transition: 0.3s;
}

.menu a:hover {
  color: var(--secondary-color);
  cursor: pointer;
}

.active__menu {
  color: var(--secondary-color) !important;
}

.cart__icon i,
.user i,
.mobile__menu i {
  font-size: 1.3rem;
  color: var(--primary-color);
  cursor: pointer;
  transition: 0.3s;
}

.cart__icon i:hover,
.user i:hover,
.mobile__menu i:hover {
  color: var(--secondary-color);
}

.cart__icon {
  position: relative;
}

.cart__badge {
  position: absolute;
  top: 20px;
  right: -10px;
  background-color: var(--secondary-color);
  color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  font-size: 0.8rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile__menu {
  font-weight: 600;
  display: none;
}

.header__shrink {
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 5px 5px 15px -5px var(--third-color);
}

@media only screen and (max-width: 992px) {
  .logo img {
    width: calc(100% - 70%);
  }

  .logo h5 {
    font-size: 0.8rem;
    margin-top: -15px;
  }

  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    display: none;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    z-index: 100;
    line-height: 20px;
  }

  .menu a {
    font-size: 0.9rem;
  }

  .mobile__menu {
    display: block;
  }

  .cart__icon i,
  .user i,
  .mobile__menu i {
    font-size: 1rem;
  }

  .show__menu {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 50px;
    line-height: 50px;
  }

  .logo h5 {
    margin-top: 0px;
  }
} ;
